@import './fonts/fonts.min.css';
@import './fonts/spartan/stylesheet.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
	color: #676767;
	background-color: #fff8ef;
}

h1{ /* Name */
	font: 16px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	font-weight: 400;
	text-align: center;
	margin-top: 0;
	padding-top: 0;
	color: #283844;
	display: inline-block;
}

.title{
	margin: auto;
	text-align: center;
	height: 100px;
}

.logo{
	height: 100px;
	width: auto;
	display: inline-block;
	margin-right: -15px;
	margin-top: -25px;
}

h2{ 
	font: 50px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
	font-weight: 400;
	text-align: center;
	margin-top: 0;
	padding-top: 0;
}

.project{
	color: #fdfbfb !important;
}

.project-head{
	height: 150px;
	/*background-color: #676767;*/
	background-color: rgb(8,5,16);
	margin-bottom: 50px;
}

.project-footer{
	margin-top: 50px;
}

.project-img{ /* Project GIF */
	height:auto;
	width: 100%;
}

.movie-tile { /* Shadow when the mouse is on the project */
	margin-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.movie-tile:hover { /* Pointer when mouse is on the project */
	background-color: #EEE;
    cursor: pointer;
}

h3{ /* Project name */ 
	font: 16px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
	font-size: 17px;
	color: #008CBA;
}

h4{ /* Project in-line description */ 
	font: 16px/1.1 "Proxima Nova",Helvetica,Arial,sans-serif;
	margin-left: 10px;
	margin-right: 10px;
	color: #676767;
}

p{
	text-align: justify;
	font: 16px/1.2 "Proxima Nova",Helvetica,Arial,sans-serif;
	padding-left: 6%;
	padding-right: 6%;
}

/*em{
	color:#4885ed;
}*/

.category{
	font-weight: bold;
	font-size: 19px;
	text-align: center;
	color: #283844;
}

ul li{
	font: 20px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
	text-decoration: none;
}


.footer{
	color: #283844;
	width: 100%;
	padding: 0.3% 0;
	display: block;
	background-color: transparent;
	border-top: 2px solid #283844;
}

.inner-container{
	width: 100%;
	position: relative;
	font-family: LibreBaskerville-Regular,Palatino Linotype,Times New Roman,serif;
	line-height: 1;
	text-align: center !important;
}

.footer-links{
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

.footer-links li{
	display: inline-block;
	margin-right: 60px;
}

.footer-links a{ /* Social networks */
	display: block;
	padding: 15px 0;
	font-family: League Spartan,Helvetica,Arial,sans-serif;
	position: relative;
	transition: color .3s ease;
	text-decoration: none;
	background-color: transparent;
	font-size: 20px;
	color: #283844;
}

.footer-copy{ /* Contact and page year */
	width: 100%;
	text-align: center;
	font-size: 13px;
	font-family: "Proxima Nova",Helvetica,Arial,sans-serif;
	margin-bottom: -20px;
	color: #676767;
}

.col{
	width: 19%;
	display: inline-block;
	margin: 0px;
	padding: 0px 0px 0px 14px;
}

a{
	color: #008CBA;
	text-decoration: none;
}

a:focus {
	outline:0px;
}

/** POST **/
  .fa {
    padding: 5px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .fa:hover {
      opacity: 0.7 !important;
      color: white; 
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .share-icons{
    text-align: center;
  }

  .post-header{
    background-color: #008CBA; 
    color: #FFF;
    padding: 10px 0px 10px 0px;
  }

  .post-projectname{
    font-size: 16px;
    display: block;
  }

  .post-postname{
    font-size: 38px;
    display: block;
    color: #fff8ef;
  }

  .post-date{
    text-align: center;
    font-size: 18px; 
    color: #fff8ef;
  }

  .share-text{
    font-size: 15px; 
    text-align: center;
  }

  .icons{
    padding-top: 50px; 
    padding-bottom: 100px;
  }

  .post-content{
    padding-top: 100px;
  }

  .post-comments{
  	padding: 0px 10% 100px 10%;
}


.footer{
	margin-top: 25px;
}
	
.project-head{
	margin-bottom: 25px
}

@media (max-width:374px) {
	h1{ /* Name */
		font: 16px/1 "Proxima Nova",Helvetica,Arial,sans-serif;
		font-family: 'Montserrat', sans-serif;
		font-size: 30px;
		padding-top: 10px;

	}

	.title{
		height: 80px;
	}

	.logo{
		height: 80px;
		margin-top: -15px;
	}

	p{	/* Blog description */
		font: 12px/1 "Proxima Nova",Helvetica,Arial,sans-serif;
		padding-left: 3%;
		padding-right: 3%;
		text-align: center;
	}

	.category{
		font-size: 13px;
	}

	h3{ /* Project name */ 
		font-size: 15px;
	}

	h4{ /* Project in-line description */ 
		font: 12px/1.1 "Proxima Nova",Helvetica,Arial,sans-serif;
	}

	ul li{ /* list of posts by project */
		font: 14px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
	}

	.post-content{
    	padding-top: 40px;
  	}
		
	.footer{
		border-top: 1px solid #676767;
	}

	.footer-links a{
		font-size: 12px;
	}

	.col{
		width: 17%;
		display: inline-block;
		margin: 0px 5px 0px 0px;
		padding: 0px 0px 0px 8px;
	}

	.footer-copy{
		font-size: 11px;
	}


	h3{
		font-size: 20px;
	}

	.footer{
		margin-top: 30px;
	}

	.footer-links li{
		margin-right: 11px;
	}

	.footer-links a{
		font-size: 12px;
	}

	.footer-copy{
		font-size: 10px;
	}


	.project h2{ 
		font: 30px/1 "Proxima Nova",Helvetica,Arial,sans-serif;
		padding-top: 30px;
	}

	.project-head{
		margin-bottom: 25px
	}

	.post-postname{
    	font-size: 25px;
  	}

}
/** *************************************************************************************************** **/
@media (min-width: 375px) and (max-width:424px) {
	h1{ /* Name */
		font: 16px/1 "Proxima Nova",Helvetica,Arial,sans-serif;
		font-family: 'Montserrat', sans-serif;
		font-size: 33px;
		padding-top: 10px;
	}

	.title{
		height: 90px;
	}

	.logo{
		height: 90px;
		margin-top: -18px;
	}

	p{	/* Blog description */
		font: 12px/1 "Proxima Nova",Helvetica,Arial,sans-serif;
		padding-left: 3%;
		padding-right: 3%;
		text-align: center;
	}

	.category{
		font-size: 13px;
	}

	h3{ /* Project name */ 
		font-size: 15px;
	}

	h4{ /* Project in-line description */ 
		font: 12px/1.1 "Proxima Nova",Helvetica,Arial,sans-serif;
	}

	ul li{ /* list of posts by project */
		font: 14px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
	}

	.post-content{
    	padding-top: 40px;
  	}

	.footer{
		border-top: 1px solid #676767;
	}

	.footer-links li{
		margin-right: 10px;
	}

	.footer-links a{
		font-size: 11px;
	}

	.footer-copy{
		font-size: 0.8em;
	}

	.col{
		width: 19%;
		display: inline-block;
		margin: 0px;
		padding: 0px 0px 0px 14px;
	}

	.footer{
		margin-top: 30px;
	}

	.project h2{ 
		font: 35px/1 "Proxima Nova",Helvetica,Arial,sans-serif;
		padding-top: 30px;
	}

	.project-head{
		margin-bottom: 25px
	}

	.post-postname{
    	font-size: 22px;
  	}
}

/** *************************************************************************************************** **/
@media (min-width: 425px) and (max-width:767px) { /* TABLET */
	h1{ /* Name */
		font: 16px/1 "Proxima Nova",Helvetica,Arial,sans-serif;
		font-family: 'Montserrat', sans-serif;
		font-size: 37px;
		padding-top: 10px;
	}

	.title{
		margin-top: 10px;
	}

	p{	/* Blog description */
		font: 14px/1 "Proxima Nova",Helvetica,Arial,sans-serif;
		padding-left: 3%;
		padding-right: 3%;
		text-align: center;
	}

	.category{
		font-size: 14px;
	}

	.container{ /* Project image */
		width: 350px;
	}

	h3{ /* Project name */ 
		font-size: 15px;
	}

	h4{ /* Project in-line description */ 
		font: 12px/1.1 "Proxima Nova",Helvetica,Arial,sans-serif;
	}

	ul li{ /* list of posts by project */
		font: 16px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
	}

	.post-content{
    	padding-top: 40px;
  	}

	.footer{
		border-top: 1px solid #676767;
	}

	.footer-links li{
		margin-right: 17px;
	}

	.footer-links a{
		font-size: 14px;
	}

	.footer-copy{
		font-size: 12px;
	}
	.col{
		width: 19%;
		display: inline-block;
		margin: 0px;
		padding: 0px 0px 0px 14px;
	}

	.footer{
		margin-top: 25px;
	}

	.project h2{ 
		font: 36px/1 "Proxima Nova",Helvetica,Arial,sans-serif;
		padding-top: 30px;
	}
	
	.project-head{
		margin-bottom: 25px
	}

	.post-postname{
    	font-size: 25px;
  	}
}

/** *************************************************************************************************** **/
@media (min-width: 768px) and (max-width:1023px) {
	h1{ /* Name */
		font: 16px/1 "Proxima Nova",Helvetica,Arial,sans-serif;
		font-family: 'Montserrat', sans-serif;
		font-size: 45px;
		padding-top: 10px;
	}

	p{	/* Blog description */
		font: 14px/1 "Proxima Nova",Helvetica,Arial,sans-serif;
		padding-left: 3%;
		padding-right: 3%;
		text-align: center;
	}

	.category{
		font-size: 14px;
	}

	.container{ /* Project image */
		width: 350px;
	}
	h3{ /* Project name */ 
		font-size: 15px;
	}

	h4{ /* Project in-line description */ 
		font: 12px/1.1 "Proxima Nova",Helvetica,Arial,sans-serif;
	}

	ul li{ /* list of posts by project */
		font: 16px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
	}

	.post-content{
    	padding-top: 40px;
  	}

	.footer{
		border-top: 1px solid #676767;
	}

	.footer-links a{
		font-size: 14px;
	}

	.footer-copy{
		font-size: 12px;
	}

	.col{
		width: 19%;
		display: inline-block;
		margin: 0px;
		padding: 0px 0px 0px 14px;
	}

	.footer{
		margin-top: 25px;
	}
	
	.project-head{
		margin-bottom: 25px
	}

	.post-postname{
    	font-size: 30px;
  	}
}