@import './fonts/fonts.min.css';
@import './fonts/spartan/stylesheet.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
	color: #676767;
}

h1{ /* Name */
	font: 16px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
	font-weight: 400;
	text-align: center;
	margin-top: 0;
	padding-top: 0;
}

h2{ 
	font: 50px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
	font-weight: 400;
	text-align: center;
	margin-top: 0;
	padding-top: 0;
}

.project{
	color: white !important;
}

.project-head{
	height: 150px;
	background-color: #676767;
	margin-bottom: 50px;
}

.project-footer{
	margin-top: 50px;
}

.project-img{ /* Project GIF */
	height:auto;
	width: 100%;
}

.movie-tile { /* Shadow when the mouse is on the project */
	margin-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.movie-tile:hover { /* Pointer when mouse is on the project */
	background-color: #EEE;
    cursor: pointer;
}

h3{ /* Project name */ 
	font: 16px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
	font-size: 17px;
	color: #008CBA;
}

h4{ /* Project in-line description */ 
	font: 16px/1.1 "Proxima Nova",Helvetica,Arial,sans-serif;
	margin-left: 10px;
	margin-right: 10px;
	color: #676767;
}

p{
	text-align: justify;
	font: 16px/1.2 "Proxima Nova",Helvetica,Arial,sans-serif;
	padding-left: 6%;
	padding-right: 6%;
}

/*em{
	color:#4885ed;
}*/

.category{
	font-weight: bold;
	font-size: 19px;
	text-align: center;
}

ul li{
	font: 20px/1.7 "Proxima Nova",Helvetica,Arial,sans-serif;
	text-decoration: none;
}


.footer{
	color: #fdfbfb;
	width: 100%;
	padding: 0.3% 0;
	display: block;
	background-color: transparent;
	border-top: 2px solid #676767;
}

.inner-container{
	width: 100%;
	position: relative;
	font-family: LibreBaskerville-Regular,Palatino Linotype,Times New Roman,serif;
	line-height: 1;
	text-align: center !important;
}

.footer-links{
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

.footer-links li{
	display: inline-block;
	margin-right: 60px;
}

.footer-links a{ /* Social networks */
	display: block;
	padding: 15px 0;
	font-family: League Spartan,Helvetica,Arial,sans-serif;
	position: relative;
	transition: color .3s ease;
	text-decoration: none;
	background-color: transparent;
	font-size: 20px;
	color: #676767;
}

.footer-copy{ /* Contact and page year */
	width: 100%;
	text-align: center;
	font-size: 13px;
	font-family: "Proxima Nova",Helvetica,Arial,sans-serif;
	margin-bottom: -20px;
	color: #676767;
}

.col{
	width: 19%;
	display: inline-block;
	margin: 0px;
	padding: 0px 0px 0px 14px;
}

a{
	color: #008CBA;
	text-decoration: none;
}

a:focus {
	outline:0px;
}

/** POST **/
  .fa {
    padding: 5px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .fa:hover {
      opacity: 0.7 !important;
      color: white; 
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .share-icons{
    text-align: center;
  }

  .post-header{
    background-color: #008CBA; 
    color: #FFF;
    padding: 10px 0px 10px 0px;
  }

  .post-projectname{
    font-size: 16px;
  }

  .post-postname{
    font-size: 38px;
  }

  .post-date{
    text-align: center;
    font-size: 18px; 
  }

  .share-text{
    font-size: 15px; 
    text-align: center;
  }

  .icons{
    padding-top: 50px; 
    padding-bottom: 100px;
  }

  .post-content{
    padding-top: 100px;
  }

  .post-comments{
  	padding: 0px 10% 100px 10%;
}