<!-- meta for Facebook, LinkedIn and Google+ -->
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ page.image }}" />
<meta property="og:image:alt" content="{{ page.imagealt }}" />
<meta property="fb:app_id" content="{{ site.fid }}" />


<!-- meta for Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@betogaona7">
<meta name="twitter:creator" content="@betogaona7">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image:src" content="{{ site.url }}{{ site.baseurl }}{{ page.image }}">