
<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"> 
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link href='img/icon.ico' rel='shortcut icon' type='image/ico'/>
  			<meta name="viewport" content="width=device-width, initial-scale=1.0">

  			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  			<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  			<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
  			<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

			<!--<link rel="stylesheet" type="text/css" href="https://betogaona7.github.io/blog/css/base.css" />-->
			<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/base.css">
		</head>
		<body>
			{{ content }}
			<footer class="footer">
    			<div class="inner-container">
    				<ul class="footer-links">
			          <li><a href="https://www.facebook.com/betogaona07" target="_blank" rel="noopener"> Facebook </a></li>
			          <li><a href="https://www.github.com/betogaona7" target="_blank" rel="noopener"> Github </a></li>
			          <li><a href="https://www.linkedin.com/in/betogaona7/" target="_blank" rel="noopener"> LinkedIn </a></li>
			          <li><a href="https://www.instagram.com/betogaona7" target="_blank" rel="noopener"> Instagram </a></li>
			          <li><a href="https://betogaona7.github.io" target="_blank" rel="noopener"> Portfolio </a></li>
        			</ul>
	    		</div>
    			<div class="footer-copy" style="margin-bottom: 15px;">
    				© 2018 Alberto Gaona - <a href="mailto:albertoo_3c@hotmail.com"> Contact </a>
    			</div>
    	</footer>
		</body>
	</html>
